server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: prometheus,health,info

axon:
  axonserver:
    servers: ${AXONSERVER_SERVERS:localhost:8124}

spring:
  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
