apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    # Avoid startup failure if Grafana already has a default datasource in its DB.
    # (Grafana allows only one default datasource per org.)
    isDefault: false
  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
